@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@300;500&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Be+Vietnam+Pro:wght@300&family=Outfit:wght@300&display=swap');
@font-face {
    font-family: 'Square';
    src: local('Square'), url(../assets/fonts/EuclidSquare-Regular.woff) format('woff');
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 !important;
}
#nprogress {
  pointer-events: "none";
}
#nprogress .bar {
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: dodgerblue;
  box-shadow: 0 0 2px dodgerblue;
  /* box-shadow: 0 0 2px ${get(theme, "colors.primary.regular")}; */
}
#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px dodgerblue;
  /* boxShadow: `0 0 10px ${get(
    theme,
    "colors.primary.regular"
  )}, 0 0 5px ${get(theme, "colors.primary.regular")}`, */
}

.connect-wallet-btn {
  background: transparent;  
  text-align: center;
  color: #FCFCFD;
  flex: none;
  order: 0;
  border: 0px;
  flex-grow: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px; 
}

.connect-wallet-btn:hover{
  cursor: pointer;
}
