html {
  scroll-behavior: smooth;
}
body {
  margin: 0 !important;
  padding-top: 58px;
}
.archiveBoundary {
  align-items: center;
  background: #34145f;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  font-size: 14px;
  gap: 5px;
  justify-content: center;
  left: 0;
  min-height: 58px;
  padding: 10px 18px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10000;
}
#nprogress {
  pointer-events: "none";
}
#nprogress .bar {
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: dodgerblue;
  box-shadow: 0 0 2px dodgerblue;
  /* box-shadow: 0 0 2px ${get(theme, "colors.primary.regular")}; */
}
#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px dodgerblue;
  /* boxShadow: `0 0 10px ${get(
    theme,
    "colors.primary.regular"
  )}, 0 0 5px ${get(theme, "colors.primary.regular")}`, */
}
